services:
  gateway-service:
    build:
      context: ..
      dockerfile: gateway/api-gateway/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 5000:8080

    networks:
      - backend
    depends_on:
      - auth-service
      - attempt-service
      - exam-service
      - course-service

  frontend-service:
    build:
      context: ../frontend/langfens-fe-app
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_GATEWAY_URL=http://gateway-service:8080
      - NEXT_PUBLIC_GOOGLE_CLIENT_ID=806530195444-6jrbcfonq01nuk9k66rnc31fib6rqgt2.apps.googleusercontent.com
    expose:
      - "3000"

    networks:
      - backend
    depends_on:
      - gateway-service

  auth-service:
    build:
      context: ..
      dockerfile: services/auth-service/Dockerfile
    environment:
      - CONNECTIONSTRING__AUTH=Host=auth-database;Port=5432;Database=auth-db;Username=auth;Password=auth
      - PUBLIC_GOOGLE_CLIENT_ID=806530195444-6jrbcfonq01nuk9k66rnc31fib6rqgt2.apps.googleusercontent.com
      - ASPNETCORE_ENVIRONMENT=Production
      - CONNECTIONSTRING__REDIS=redis:6379, abortConnect=false
      - RABBITMQ__HOST=rabbitmq-service
      - RABBITMQ__USERNAME=appuser
      - RABBITMQ__PASSWORD=apppassword
      - RABBITMQ__VHOST=/
      - RABBITMQ__PORT=5672
      - RABBITMQ__USESSL=false

    ports:
      - "8080:8080"
    networks:
      - backend
    depends_on:
      auth-database:
        condition: 'service_healthy'
      rabbitmq-service:
        condition: service_healthy
      redis:
        condition: 'service_healthy'
      
  attempt-service:
    image: attempt-service
    build:
      context: ..
      dockerfile: services/attempt-service/Dockerfile
    environment:
      - CONNECTIONSTRING__ATTEMPT=Host=attempt-database;Port=5432;Database=attempt-db;Username=attempt;Password=attempt
      - EXAMSERVICE__EXAM__ADDRESS=http://exam-service:8080
      - EXAMSERVICE__INTERNAL__API__KEY=internal-get-exam-snapshot
      - ASPNETCORE_ENVIRONMENT=Production

    ports:
      - "8081:8080"
    networks:
      - backend
    depends_on:
      - attempt-database

  exam-service:
    image: exam-service
    build:
      context: ..
      dockerfile: services/exam-service/Dockerfile
    environment:
      - CONNECTIONSTRING__EXAM=Host=exam-database;Port=5432;Database=exam-db;Username=exam;Password=exam
      - ASPNETCORE_ENVIRONMENT=Production
    expose:
      - "8081"
    ports:
    - "8082:8080"

    depends_on:
      exam-database:
        condition: "service_healthy"
    networks:
      - backend
  
  course-service:
    image: course-service
    build:
      context: ..
      dockerfile: services/course-service/Dockerfile
    environment:
      - CONNECTIONSTRING__COURSE=Host=course-database;Port=5432;Database=course-db;Username=course;Password=course
      - ASPNETCORE_ENVIRONMENT=Production

    expose:
      - "8080"
    networks:
      - backend
    depends_on:
      course-database:
        condition: service_healthy
    
  
  vocabulary-service:
    image: vocabulary-service
    build:
      context: ..
      dockerfile: services/vocabulary-service/Dockerfile
    environment:
      - CONNECTIONSTRING__VOCABULARY=Host=vocabulary-database;Port=5432;Database=vocabulary-db;Username=vocabulary;Password=vocabulary
      - ASPNETCORE_ENVIRONMENT=Production

    expose:
      - "8080"
    networks:
      - backend
    depends_on:
      vocabulary-database:
        condition: service_healthy
      
  speaking-service:
    image: speaking-service
    build:
      context: ..
      dockerfile: services/speaking-service/Dockerfile
    environment:
      - CONNECTIONSTRING__SPEAKING=Host=speaking-database;Port=5432;Database=speaking-db;Username=speaking;Password=speaking
    env_file:
      - ../services/speaking-service/.env
    expose:
      - "8080"
    ports:
      - "8090:8080"

    networks:
      - backend
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
              
  writing-service:
    image: writing-service
    build:
      context: ..
      dockerfile: services/writing-service/Dockerfile
    environment:
      - CONNECTIONSTRING__WRITING=Host=writing-database;Port=5432;Database=writing-db;Username=writing;Password=writing
    env_file:
      - ../services/writing-service/.env

    
    ports:
      - "8091:8080"
    networks:
      - backend
    depends_on:
      writing-database:
        condition: service_healthy
  
  
  
  email-service:
    image: email-service
    environment:
      - RABBITMQ__HOST=rabbitmq-service
      - RABBITMQ__USERNAME=appuser
      - RABBITMQ__PASSWORD=apppassword
      - RABBITMQ__VHOST=/
      - RABBITMQ__PORT=5672
      - RABBITMQ__USESSL=false
      - SMTP__HOST=smtp.gmail.com
      - SMTP__PORT=587
      - SMTP__PASS=zwco qbvh nyuw xape
      - SMTP__USER=23520757@gm.uit.edu.vn
      - SMTP__FROM=Langfens English<no-reply@langfens-english.com>
      - SMTP__BRAND=Langfens English
      - SMTP__SUPPORT=support@langfens-english.com
      - SMTP__VERIFYURLTEMPLATE=http://localhost:5000/api-auth/auth/verify
      - SMTP__REDIRECTURL=http://localhost:5000/api-auth/auth/verify
      - ASPNETCORE_ENVIRONMENT=Production
    build:
      context: ..
      dockerfile: services/email-service/Dockerfile

    expose:
      - "8080"
    networks:
      - backend
    depends_on:
      rabbitmq-service:
        condition: service_healthy

  rabbitmq-service:
    image: rabbitmq:3-management
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=appuser
      - RABBITMQ_DEFAULT_PASS=apppassword

    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - backend
  
  
  
  
  

  exam-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: exam-db
      POSTGRES_USER: exam
      POSTGRES_PASSWORD: exam
    networks:
      - backend
    volumes: [ "pgdata:/var/lib/postgresql/exam-data" ]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U exam -d exam-db -h 127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    ports:
      - 5433:5432



  auth-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: auth-db
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
    networks:
      - backend
    volumes: ["pgdata:/var/lib/postgresql/auth-data"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth -d auth-db -h 127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

    ports:
      - 5434:5432
    
  attempt-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: attempt-db
      POSTGRES_USER: attempt
      POSTGRES_PASSWORD: attempt      
    networks:
      - backend
    volumes: [ "pgdata:/var/lib/postgresql/attempt-data" ]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U attempt -d attempt-db -h 127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

    ports:
      - 5435:5432

  course-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: course-db
      POSTGRES_USER: course
      POSTGRES_PASSWORD: course
    networks:
      - backend
    volumes: [ "pgdata:/var/lib/postgresql/course-data" ]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U course -d course-db -h 127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s 

      
  
  vocabulary-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: vocabulary-db
      POSTGRES_USER: vocabulary
      POSTGRES_PASSWORD: vocabulary

    networks:
      - backend
    volumes: [ "pgdata:/var/lib/postgresql/vocabulary-data" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U vocabulary -d vocabulary-db -h 127.0.0.1" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

  
  writing-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: writing-db
      POSTGRES_USER: writing
      POSTGRES_PASSWORD: writing
    ports:
      - 5440:5432
    networks:
      - backend
    volumes: [ "pgdata:/var/lib/postgresql/writing-data" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U writing -d writing-db -h 127.0.0.1" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

    
  speaking-database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: speaking-db
      POSTGRES_USER: speaking
      POSTGRES_PASSWORD: speaking
    ports:
      - 5441:5432
    networks:
      - backend
    volumes: [ "pgdata:/var/lib/postgresql/speaking-data" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U speaking -d speaking-db -h 127.0.0.1" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

  
  redis:
    image: redis:7.4-alpine
    command: [
      "redis-server",
      "--save", "",                 # tắt RDB
      "--appendonly", "no",         # tắt AOF
      "--maxmemory", "128mb",       # giới hạn bộ nhớ Redis
      "--maxmemory-policy", "allkeys-lru",
      "--databases", "1",           # 1 DB là đủ cho hầu hết case
      "--port", "6379"
    ]
    networks:
      - backend
    tmpfs:
      - /data:size=64m

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 2s
      retries: 5


    
  
networks:
  backend:
    driver: bridge

volumes:
  pgdata:
  rabbitmq_data:
