name: ci-build-push
on:
  push:
    branches: ["master"]

jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: |
          export REGISTRY=${{ secrets.DOCKERHUB_USERNAME }}
          export TAG=${{ github.sha }}
          docker compose -f deploy/compose.yaml -f .deploy/compose.override.yaml build --pull

      - name: Push
        run: |
          export REGISTRY=${{ secrets.DOCKERHUB_USERNAME }}
          export TAG=${{ github.sha }}
          docker compose -f deploy/compose.yaml -f deploy/compose.override.yaml push -q --include-deps
